:root {
  --primary-color: #72ff80;
  --secondary-color: #585858;
  --background-gradient: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
  --button-hover-color: #72ff80;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: var(--background-gradient);
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

body {
  background: var(--background-gradient);
  color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App button {
  margin: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.App button:hover {
  background-color: var(--button-hover-color);
}

.Form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Form-container button {
  margin: 1rem;
  width: 100px;
  background-color: var(--secondary-color);
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Form-container button:hover {
  background-color: var(--button-hover-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container button {
  margin: 1rem;
}

h1 span {
  color: var(--primary-color);
}

.Input {
  width: 500px !important;
  margin: 1rem !important;
  border: 1px solid var(--primary-color);
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.Input:focus {
  border-color: var(--button-hover-color);
  outline: none;
}

.disabled-link {
  pointer-events: none;
  color: #777;
}
