.header {
  width: 100%;
  padding: 10px 20px;
  background: var(--background-gradient);
  border-bottom: 2px solid var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-container {
  text-align: left;
}

.title-container h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.title-container p {
  margin: 0;
  font-size: 1rem;
  color: var(--placeholder-color);
}

.account-info {
  font-size: 0.9rem;
  color: #ffffff;
  background: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}
